<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:label="Like-minded"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.JointU"
        tools:targetApi="33" >
        <activity
            android:name="com.dimitriusdev.activity.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>